# Config file for pisg (set up all your channels/logfiles here)

<user nick="ad13" alias="ad13* *ad13" sex="m">
<user nick="Bad" alias="BadFurDay* Bad` BFD|* Bed bfd-slave Nayparn SmegmaShart Bad4Day" sex="m">
<user nick="dux0r" alias="dux0r*" sex="m">
<user nick="Ensiferous" sex="m">
<user nick="fabe" alias="HongFaeBu fabe*" sex="m">
<user nick="Fagge" alias="Fogge" sex="m">
<user nick="Garner" alias="Larner Grarner llllllllllllll Rarner Garne* ganar* *garner gamer ROFO gana farner terran" sex="m">
<user nick="haiku" alias="haiku*" sex="m">
<user nick="happy0" alias="happy0*" sex="m">
<user nick="how-high" alias="hgh" sex="f">
<user nick="IceCream" alias="stop-irc-bullying" sex="f">
<user nick="Intergay" alias="Intergage Intergage* *Intergage Foxymulder* intergagie DanaScully _56" sex="m">
<user nick="Izanagii" sex="m">
<user nick="kage" alias="kage* [rEU]kage UncleRuckus OldMcKage _kage" sex="m">
<user nick="km2" sex="f">
<user nick="koshka" sex="m">
<user nick="Laizkiz" alias="Laiz*" sex="f">
<user nick="maccan" sex="m">
<user nick="michael" alias="Makoto QueenOfDeath" sex="f">
<user nick="mikkee" sex="f">
<user nick="moop" alias="mmop2p mayday* well* moop* ||moop mo*p PO|moop poopykins spoopy" sex="f">
<user nick="Naypam" alias="Nay Naypam* *Naypam Naypalm napalm NayDroid x89" sex="m">
<user nick="nonpc" alias="foxpc CableG*" sex="f">
<user nick="oldling" sex="m">
<user nick="piano" alias="Pianoo" sex="m">
<user nick="Phixion" alias="wowtard phix_work" sex="f">
<user nick="PsychoHoliday" alias="Psycho_Holiday* psycho* autism" sex="f">
<user nick="Raja" sex="f">
<user nick="Raziel" alias="Razieltipbot __bot__ __bot__* D Q dumbot Raziel2p Raziel`sc2no" sex="b">
<user nick="Relict" sex="m">
<user nick="Remonstration" sex="f">
<user nick="Richard" alias="gloop* Icefly* alizee Juno* EllenPage Glewp Clara JKD iGloop jun0" sex="f">
<user nick="Simon" alias="lovely* lively schlexie shlexie gojira" sex="m">
<user nick="SpearThruster" alias="OdinIncarnate faggot" sex="f">
<user nick="teethy" sex="m">
<user nick="Twipply" sex="m">
<user nick="Valacar" alias="Valacar*" sex="f">
<user nick="zid" alias="zid*" sex="f">
<user nick="Valckrie" sex="f">
<user nick="Vequeth" alias="Vequeth*" sex="m">

<user nick="RazielTipBot" ignore="y">
<user nick="fucking" ignore="y">
<user nick="=!=" ignore="y">

<set FoulWords="cunt* fuck* donkeyribber laravel">

<set NoIgnoredQuotes="1">

<channel="#redditeu">
	Logfile="/home/napalm/.weechat/logs/irc.qn.#redditeu.weechatlog"
	Format="weechat3"
	Maintainer="Naypam and Bad"
	Network="QuakeNet"
	OutputFile="index.html"
	ShowWords = "1"
	ShowMostNicks = "1"
	ShowActiveGenders = "1"
	ShowMostActiveByHour = "1"
	ShowOnlyTop = "1"
	ShowSmileys = "1"
	ShowFoulLine = "1"
	ShowMrn = "0"
	ShowOps = "0"
	WordLength = "6"
	ActiveNicks = "25"
	ActiveNicks2 = "30"
	UrlHistory = "5"
	WordHistory = "10"
	MostNicksHistory = "5"
	TopicHistory = "5"
	SortByWords = "1"
	BigNumbersThreshold = "1000"
	Charset = "utf-8"
</channel>
